@page "/hotel-room/create"
@page "/hotel-room/edit/{Id:int}"

@inherits CreateEditBase

<div class="row mt-4 mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Title Hotel Room</h5>
                <EditForm Model="HotelRoomModel" OnValidSubmit="HandleHotelRoomCreate">
                    <div class="form-group">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </div>
                    <div class="form-group">
                        @*@if (!string.IsNullOrWhiteSpace(ErrorMessage))
                            {
                                <Error ErrorMessage="@ErrorMessage" />
                                <ToasterMessage ToasterType="Error" ToasterHeading="Error Occured" ToasterMessage="@ErrorMessage"></ToasterMessage>
                            }
                            @if (!string.IsNullOrWhiteSpace(SuccessMessage))
                            {
                                <Success SuccessMessage="@SuccessMessage" />
                                <ToasterMessage ToasterType="Success" ToasterHeading="Success" ToasterMessage="@SuccessMessage"></ToasterMessage>
                            }*@

                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="HotelRoomModel.Name" class="form-control"></InputText>
                        <ValidationMessage For="() => HotelRoomModel.Name"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Occupancy</label>
                        <InputNumber @bind-Value="HotelRoomModel.Occupancy" class="form-control"></InputNumber>
                        <ValidationMessage For="() => HotelRoomModel.Occupancy"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Regular Rate</label>
                        <InputNumber @bind-Value="HotelRoomModel.RegularRate" class="form-control"></InputNumber>
                        <ValidationMessage For="() => HotelRoomModel.RegularRate"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Size (SrqFt.)</label>
                        <InputNumber @bind-Value="HotelRoomModel.SqrFt" class="form-control"></InputNumber>
                        <ValidationMessage For="() => HotelRoomModel.SqrFt"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <InputTextArea @bind-Value="HotelRoomModel.Details" class="form-control"></InputTextArea>
                        <ValidationMessage For="() => HotelRoomModel.Details"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Select Images</label>
                        <br />
                        <InputFile OnChange="HandleImageUpload" multiple></InputFile>
                        <div class="row">

                            @if (IsImageUploadProcessStart)
                            {
                            <div class="col-md-12">
                                <span><i class="fa fa-spin fa-spinner"></i> @ImageProcessMessage</span>
                            </div>
                                
                            }
                            @if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Count > 0)
                            {
                                int serial = 1;
                                foreach (var roomImage in HotelRoomModel.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <div class="room-image" style="background: url('@roomImage') 50% 50%;">
                                            <span class="room-image-title">@serial</span>
                                        </div>
                                        <button type="button" class="btn btn-outline-danger btn-block mt-4" @onclick="() => DeletePhoto(roomImage)">Delete Photo</button>
                                    </div>
                                    serial++;
                                }
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        @if (IsProcessingStart)
                        {
                            <button class="btn btn-primary" disabled="disabled" type="button"><i class="fa fa-spin fa-spinner"></i> Processing..</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" disabled="@(!IsImageUploaded)"> @Title Room </button>
                        }
                    </div>
                </EditForm>
            </div>
        </div>
    </div>

</div>